<div class="love-block">
    <div class="text-block">
        <p class="title">xx，你好啊。</p>

        <p class="text-body">时间过得真快啊，转眼咱们在一起xx周年了。</p>
    </div>
    <div class="text-block2">
        <p>过去两年里，我们经历了许许多多的事情，</br>彼此更加了解对方，感情越来越牢固啦。</br>在工作方面，谢谢你的支持和理解，</br>让我有业余时间折腾技术。</br>花了点小心思，</br>希望你开心！</br>
            爱你！</p>
    </div>
    <div class="text-block3">
        <p>爱你的xxx</br>2015-01-25</p>
    </div>
    <div class="continue-btn">
        <button>继续游戏</button>
    </div>
    <div id="love-block"></div>
    <div class="audio-btn music-off">
        <audio src='lib/assets/meet.mp3' type='audio/mpeg' preload='auto' loop></audio>
    </div>
</div>