@import "../../lib/placeholder";

.mask {
  position         : fixed;
  top              : 0;
  left             : 0;
  bottom           : 0;
  right            : 0;
  background-color : rgba(238, 228, 218, .7);
  text-align       : center;
  .title {
    margin-top    : 200px;
    margin-bottom : 0;
    font-size     : 120px;
    color         : #776e65;
  }
  .start-btn {
    height           : 100px;
    line-height      : 100px;
    vertical-align   : middle;
    padding          : 0 36px;
    margin           : 40px 0;
    border           : none;
    border-radius    : 6px;
    background-color : #8f7a66;
    color            : #f9f6f2;
    font-size        : 30px;
    outline          : none;
  }
  .role-btn {
    display     : inline-block;
    @extend .start-btn;
    margin-left : 20px;
  }
}