<div class="pull-left">
    <h2 class="title"><%= title %></h2>
    <button class="start-btn">重新开始</button>
    <a href="#/" class="role-btn">重选角色</a>
</div>
<div class="pull-right">
    <div class="score-count">
        <div class="score">
            得分<span class="score-num"><%= score %></span>
        </div>
        <div class="score">
            最高<span class="score-highest"><%= highestScore %></span>
        </div>
    </div>
</div>