<ul class="grids-layout">
    <li class="grid-cell"></li>
    <li class="grid-cell"></li>
    <li class="grid-cell"></li>
    <li class="grid-cell"></li>
    <li class="grid-cell"></li>
    <li class="grid-cell"></li>
    <li class="grid-cell"></li>
    <li class="grid-cell"></li>
    <li class="grid-cell"></li>
    <li class="grid-cell"></li>
    <li class="grid-cell"></li>
    <li class="grid-cell"></li>
    <li class="grid-cell"></li>
    <li class="grid-cell"></li>
    <li class="grid-cell"></li>
    <li class="grid-cell"></li>
</ul>